.float{
    position: fixed;
    width: 3em;
    height: 3em;
    bottom: 5vmin;
    right: 5vmin;
    background-color:#24292e;
    color: white;
    border-radius: 2em;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
  }

  .float:hover {
    color: white;
    background-color:#24292ee0;
  }
  
  .my-float{
    width: 1.5em;
    height: 1.5em;
    margin-top: 0.75em;
  }

