<h1 class="title">Liste des recettes</h1>

<RecipeList @recipes={{@model}}></RecipeList>

<LinkTo @route="add-recipe" title="Nouvelle recette" class="float">
    <MdIcon @icon="text-box-plus" class="my-float" @title="Nouvelle recette" />
</LinkTo>
