<h1 class="title">Liste des recettes</h1>

<RecipeList @recipes={{@model}}></RecipeList>

<a href="recipes/add" title="Nouvelle recette" class="float">
    <MdIcon @icon="text-box-plus" class="my-float" @title="Nouvelle recette" />
</a>